<header class="w-full flex items-center justify-between py-10 px-16 bg-transparent">
  <div class="py-2 px-10 bg-primary">
    <span class="uppercase text-base font-bold text-black">phillipe matos</span>
  </div>
  <nav>
    <ul class="flex items-center justify-between gap-x-14 [&>li>a]:uppercase [&>li>a]:text-sm [&>li>a]:font-medium [&>li>a]:text-white">
      <li>
        <a href="#">sobre mí</a>
      </li>
      <li>
        <a href="#">educación</a>
      </li>
      <li>
        <a href="#">experiencia</a>
      </li>
      <li>
        <a href="#">proyectos</a>
      </li>
      <li>
        <a href="#">contactos</a>
      </li>
    </ul>
  </nav>
  <div class="relative">
    <hr class="w-68 h-1 bg-white">
    <div class="absolute top-1/2 -right-3 -translate-y-1/2 size-3 rounded-full border-3 bg-transparent border-white"></div>
  </div>
</header>