---
import DobleArrow from "../icons/dobleArrow.astro"
---

<div class="flex items-start justify-center gap-x-4">
  <DobleArrow width="72" height="60" />
  <div class="flex flex-col items-start justify-between gap-x-2">
    <h6 class="text-3xl text-start font-bold ">{Astro.props.title}</h6>
    <p class="text-xl font-light">{Astro.props.desc}</p>
  </div>
</div>